Student.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT Students (student+)>
<!ELEMENT student (regno, name, email, marks, class)>
<!ELEMENT regno (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT marks (#PCDATA)>
<!ELEMENT class (#PCDATA)>
<!ATTLIST student id ID #REQUIRED>